[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[requires]

python_version = "3.6"


[packages]

dj-database-url = "==0.4.2"
Django = "==2.0"
gunicorn = "==19.7.1"
"psycopg2" = "==2.7.3.2"
whitenoise = "==3.3.1"
social-auth-app-django = "*"
python-decouple = "*"
djangorestframework = "*"
django-extensions = "*"
"django2.0" = {git = "git://github.com/adamyala/django-friendship.git"}
django-rest-swagger = "*"
model_mommy = "*"
django-push-notifications = "*"
fcm-django = "*"
raven = "*"
factory_boy = "*"
django-notifications-hq = {git = "https://github.com/django-notifications/django-notifications"}


[dev-packages]

"flake8" = "*"
Werkzeug = "*"
ipython = "*"
django-extensions = "*"
freezegun = "*"
